<div class="page-header">
  <h1>Edit Enrolment #<%= @enrolment.id %></h1>
</div>

<% if @enrolment.errors.any? %>
  <% @enrolment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_enrolment/<%= @enrolment.id %>" class="form-horizontal">
  <!-- Label and input for student_id -->
  <div class="form-group">
    <label for="student_id" class="col-sm-2 control-label">
      Student
    </label>
    <div class="col-sm-10">
      <input type="text" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= @enrolment.student_id %>">
    </div>
  </div>

  <!-- Label and input for course_id -->
  <div class="form-group">
    <label for="course_id" class="col-sm-2 control-label">
      Course
    </label>
    <div class="col-sm-10">
       <div class="col-sm-10">
      <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :full_title,@enrolment.course_id)) %>
<!--       <input type="text" id="course_id" name="course_id" placeholder="Course" class="form-control" value="<%= @enrolment.course_id %>"> -->
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Enrolment" class="btn btn-primary">
    </div>
  </div>
</form>
