<div class="page-header">
  <h1>Course #<%= @course.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @course.name %></dd>

  <dt>Instructor</dt>
  <dd><%= @course.instructor %></dd>

  <dt>Calendar</dt>
  <dd><%= @course.calendar_id %></dd>

  <dt>Quarter</dt>
  <dd><%= @course.quarter_id %></dd>

  <dt>Department</dt>
  <dd><%= @course.department_id %></dd>

  <dt>Team size</dt>
  <dd><%= @course.team_size %></dd>

  <dt>Section</dt>
  <dd><%= @course.section_id %></dd>

</dl>
