<div class="page-header">
  <h1>Course: <%= @course.quarter.term.capitalize %> <%= @course.calendar.year %> <%= @course.department.name %> <%= @course.name %>-<%= @course.section.number %> </h1>
</div>

<dl class="dl-horizontal">
  <dt>Instructor</dt>
  <dd><%= @course.instructor %></dd>

  <dt>Students Enroled</dt>
  <dd><%= @course.students.count %></dd>

  <dt>Maximum Team Size </dt>
  <dd><%= @course.team_size %></dd>

  <dt>Total Teams</dt>
  <dd><%= @course.teams.count %></dd>
</dl>
 <p><a href="/teams/class_team/<%= @course.id %>" class="btn btn-primary">Find a Team</a>
 <a href="/teams/new" class="btn btn-primary">Create a Team</a></p>


<table class="table table-striped tabe-hover">
  <tr>
    <th>Image</th>
    <th>Name </th>
    <th>Program </th>
    <th>Student Email</th>
    <th>Team Name</th>
  </tr>
  <% @course.students.each do |student| %>
    <tr>
      <td><img src="<%= student.avatar_url %>" class="img-circle" width="60" height="60"></td>
      <% if student.name.present? %>
        <td><%= student.name %></td>
      <% else %>
        <td></td>
      <% end %>

      <% if student.program_id.present? %>
        <td><%= student.program.name %></td>
      <% else %>
        <td></td>
      <% end %>

      <td><%= student.email %></td>
      <% if student.teams.find_by(:course_id => @course.id).present? %>

        <% student.teams.each do |team| %>
          <% if team.course_id == @course.id %>
            <td><%= team.name %></td>
          <% end %>
        <% end %>
        <% else %>
          <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

